<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Edit</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Update Form</h1>
    <form method="post" action="/update/<%=st.id %>">
        
            <div>
                <label>Name</label>
                <input type="text" value="<%=st.Name %>" name="Name" required>
            </div>
            <label>UserName</label>
                <input type="text" value="<%=st.Username %>" name="Username"required>
            </div>
            <label>Email</label>
                <input type="email" value="<%=st.Email %>" name="Email" required>
            </div>
            <label>Password</label>
                <input type="password" value="<%=st.Password %>" name="Password" required>
            </div>
       <button type="submit">Update</button>
    </form>
</body>
</html>